.nav_site-nav {background-color: #333333;}

.nav_site-nav a {
	color: #ffffff;
}

.nav--selected {
	color: #333333;
	background-color: #ffffff;
}

.nav_site-nav a, .nav--selected {
	padding: 0.4045em 0.809em;
}